* {
    margin: 0;
}

html {
    background-color: #3E3F3A;
}

body {
    background-color: #ffffff;
}

.top {
    margin-top: 60px;
}

.footer-bottom {
    background-color: #2d2e2a;
    color: #ffffff;
}

footer {
    background-color: #222320;
    color: #e5e5e5;
}

a {
    color: #1b8dbb;
}

.dropzone {
    border: 3px dodgerblue dashed;
    border-radius: 5px;
}

.textlog {
    color: #ffffff;
    margin-right: 20px;
    text-align: right;
}

.center {
    text-align: center;
}

.profilpic {
    height: 120px;
}

.popover {
    max-width: 600px;
}

#notifcenter, .notifcenter {
    width: 400px;
}

.navbar .nav > li > a {
    font-size: 13px;
}

.list-group-club {
    background-color: #00CC00;
}
