.top {
    margin-top: 80px;
}

.footer-bottom {
    background-color: #000000;
    color: #ffffff;
}

footer {
    background-color: #222320;
    color: #e5e5e5;
}

a {
    color: #1b8dbb;
}

.dropzone {
    border:4px dodgerblue dashed;
    border-radius:10px;
}